/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2016, 6:58:07 PM
    Author     : Adam
*/

body{
    background: beige;
    background-image: url("product_1020_full_1.jpg");
    background-size: 1080px;
    background-repeat: no-repeat;
    background-position:inherit;
    
}
form{
    text-align: left;
    font-size: 30px;
    padding: 5px;
    padding-bottom: 36px;
    
}

.result{
    font-size: 30px;
    color: black;
    font-style:italic;
    
}
.IDCol{
    width: 80px;
}
.NameCol{
    width: 200px;
}

span{
    display: block;
}
.bodyItems{
    padding-left:15%;
    padding-top: 5%;
}

